
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');


body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}

@import "@/bulma/bulma.scss";

// likely to be removed ---->>>
@import "primevue/resources/themes/lara-light-teal/theme.css";
@import "primeflex/primeflex.css";
@import "primevue/resources/primevue.min.css";
// <<<----
@import "primeicons/primeicons.css";